    @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
	html {
		scroll-behavior: smooth;
	} 
    :root {
        --color-1: #000000;
        --color-2: #00FFA3;
        --color-3: #000000;
        --color-4: #00FFA3;
        --color-5: #000000;
    }
    .h1 {
        font-family: krona one;
        font-size: 40px;
        height: 100vh;
        display: flex;
        background-color: #FFFFFF;
        justify-content: left;
        align-items: center;
        padding-left: 2%;
        transition: all;
        animation: moving 2s ease all;
    }

    @keyframes moving {
        0%{
        
        } 
        100%{
            
        }        
    }

    h1 {
        color: transparent;
        background: linear-gradient(
        220deg, var(--color-1) 19%,
        transparent 19%, transparent 20%,
        var(--color-2) 20%, var(--color-2) 39%,
        transparent 39%, transparent 40%,
        var(--color-3) 40%, var(--color-3) 59%,
        transparent 59%,transparent 60%,
        var(--color-4) 60%, var(--color-4) 79%,
        transparent 79%, transparent 80%, 
        var(--color-5) 80%
        );
        -webkit-background-clip: text;
        background-clip: text;
    }
    .body {
        background-color: #1c1c1c;
        padding: 0;
        margin: 0%;
    }
    .h2 {
        font-family: krona one;
        text-align: center;
        font-size: 50px;
		letter-spacing: 6px;
        background-image: linear-gradient(43deg, #FFFFFF 30%, #00FFA3 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
		padding-top: 200px;
    }
    .para1 {
        text-align: center;
        font-family: inter;
        font-size: 20px;
        font-weight: 700;
        color: #808080;
    }
    .footer {
        font-family: inter;
        background-color: #000000;    
		display: flex;
		justify-content: center;
    }
    .footer ul {
        display: flex;
        padding: 0px 0px;
    }
    .footer ul li {
        padding: 1px 100px;
    }
    .flink {
		background-image: linear-gradient(43deg, #ffffff 30%, #00FFA3 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
		font-weight: 900;
	}
    .carton {
        border-radius: 50px;
        font-family: inter;
        padding: 30px;
        font-size: 20px;
        margin: 3%;
        background-color: #FFE8AD;
    }
	.merch,
    .calc,
    .colorapp,
    .tictactoe {
		border-radius: 30px;
		color: #FFFFFF;
        font-family: inter;
        font-size: 18px;
        margin: 3%;
		margin-left: 40%;
		width: 300px;
		height: 70px;
        background-image: linear-gradient(43deg, #36393D 0%, #FFE8AD 100%);
		letter-spacing: 4px;
		font-weight: 900;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.calc {
		margin-left: 33%;
		width: 500px;
	}
	.colorapp {
		margin-left: 38%;
		width: 360px;
	}
	.tictactoe {
		margin-left: 39%;
		width: 330px;
	}
	.h3 {
		letter-spacing: 6px;
		font-size: 17px;
	}
	.hr2 {
	    border-top: 1px solid #ffffff;
	}
    .link {
		font-family: inter;
        color: #808080;
		font-size: 20px;
		padding-top: 50px;
		font-weight: 700;
		display: flex;
		justify-content: center;
        transition: 0.15s ease-in-out;
        padding-bottom: 200px;
    }
    .link:hover {
        margin-left: 3%;
    }